/* Resets and global styles */

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 13px;
  background: #F5F8FA;
}

.box {
  border: 1px solid #E1E8ED;
  border-radius: 5px;
  background: white;
}

a {
  color: #0F77A1;
}

a:hover {
  text-decoration: none;
}

/* General page layout */

.header {
  background: white;
  padding: 1em 3em;
  margin: 0;
  font-size: 1em;
  border-bottom: 1px solid #E1E8ED;
}

.sidebar {
  float: left;
  margin: 3em;
  width: 200px;
}

.main {
  margin: 3em 3em 3em calc(6em + 200px);
}

/* Bugs list */

.bugs:empty {
  display: none;
}

/* Header */

.header {
  position: relative;
}

.loading .header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  left: calc(50% - 16px);
  width: 32px;
  background: url(loader.gif) no-repeat center;
}

.header .links {
  float: right;
  display: inline;
  font-weight: normal;
}

.header .links li {
  display: inline;
  margin-left: 1em;
}

/* Filters list */

.filters {
  border-bottom: 1px solid #E1E8ED;
}

.filters:last-child {
  border-bottom: none;
}

.filters li {
  padding: 1em .5em;
  box-sizing: border-box;
  flex-basis: 200px;
  display: flex;
  align-items: center;
}

.filters li input {
  order: 0;
  margin: 0 .5em 0 0;
}

.filters li label {
  order: 1;
}

/* Bug list entry */

.bug {
  border-bottom: 1px solid #eee;
  padding: .5em;
}

.bug:hover {
  background: #eee;
}

.bug .tool-label {
  font-weight: bold;
}

.bug .mentor {
  color: #ccc;
}
