/* Resets and global styles */

html, body {
  background: white;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 13px;
  background: #F5F8FA;
}

input {
  font-size: 13px;
}

body.dark {
  background: #14171A;
  color: #9DA1A5;
}

.box {
  border: 1px solid #E1E8ED;
  border-radius: 5px;
  background: white;
}

.dark .box {
  background: #252C33;
  border-color: black;
}

.separated {
  border-bottom: 1px solid #E1E8ED;
}

.dark .separated {
  border-color: black;
}

.separated:last-child {
  border-bottom: none;
}

a {
  color: #4C9ED9;
}

.dark a {
  color: #D96629;
}

a:hover {
  text-decoration: none;
}

/* Tool colors */

[class*="tool-"]::before {
  content: " ";
  width: .8em;
  height: .8em;
  margin-right: .5em;
  border-radius: 50%;
  display: inline-block;
}

.tool-inspector::before {background: #C717FF;}
.tool-console::before {background: #0070E8;}
.tool-debugger::before {background: #07FF44;}
.tool-network::before {background: #E8D300;}
.tool-style::before {background: #FF6607;}
.tool-perf::before {background: #846CFF;}
.tool-storage::before {background: #4DE8DE;}
.tool-canvas::before {background: #A7FF5C;}
.tool-gcli::before {background: #E8B84D;}
.tool-responsive::before {background: #FF665C;}
.tool-scratchpad::before {background: #BAD7FF;}
.tool-audio::before {background: #95E8AE;}
.tool-shader::before {background: #FFF9AA;}
.tool-webide::before {background: #E8B795;}
.tool-tilt::before {background: #FFAAF6;}
.tool-main::before {background: #2F2DE8;}


/* General page layout */

.header {
  padding: 1em 3em;
  margin: 0;
  font-size: 1em;
}

.sidebar {
  float: left;
  margin: 3em;
  width: 200px;
}

.main {
  margin: 3em 3em 0 calc(6em + 200px);
}

.footer {
  clear: both;
  border-width: 1px 0 0 0;
  border-radius: 0px;
  padding: 1em 3em;
  margin-top: 3em;
  text-align: center;
}

/* Bugs list */

.bugs:empty {
  display: none;
}

/* Header */

.header {
  position: relative;
  border-radius: 0;
  border-width: 0 0 1px 0;
}

.header span {
  cursor: pointer;
  margin-left: 40px;
}

.header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  left: 3em;
  width: 32px;
  background: url(logo.png) no-repeat center;
}

.loading .header::before {
  -webkit-animation: rotate .5s linear infinite;
  animation: rotate .5s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(1turn);
  }
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

.header .links {
  float: right;
  display: inline;
  font-weight: normal;
}

.header .links li {
  display: inline;
  margin-left: 1em;
}

/* Filters list */

.filters li {
  padding: .8em;
  box-sizing: border-box;
}

.filters li input {
  order: 0;
  margin: 0 .5em 0 0;
}

.filters li label {

}

/* Bug list entry */

.bug {
  padding: .5em;
  position: relative;
}

.bug:hover {
  background: #eee;
}

.dark .bug:hover {
  background: #14171A;
}

.bug .old-bug {
  position: absolute;
  top: .5em;
  right: .5em;
  width: .8em;
  height: .8em;
  border-radius: 50%;
  background: url(old.svg);
}

.bug .bug-link {
  display: block;
  margin-bottom: .5em;
  /* Leave some place for the old-bug indicator */
  margin-right: .8em;
}

.bug .tool {
  font-weight: bold;
  margin-bottom: .5em;
}

.bug .mentor {
  color: #ccc;
}

.bug .toggle-comment {
  position: absolute;
  top: 4em;
  right: .5em;
  width: .8em;
  height: .8em;
  border-radius: 50%;
  background: url(expand.svg);
  transition: all .5s;
  cursor: pointer;
}

.bug.expanded .toggle-comment {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.bug .comment {
  font-size: .9em;
  color: #696969;
  width: 100%;
  overflow: hidden;
  margin: 1em 0 0 0;
  white-space: pre-line;
  display: none;
}

.bug.expanded .comment {
  display: block;
}

/* Search input */

.search-input {
  margin: .8em;
  width: calc(100% - 1.6em);
  box-sizing: border-box;
  padding: .5em;
  border: 1px solid #E1E8ED;
  border-radius: 5px;
}
